@import 'mixins';

body {
	h1 {
		color: blue;
	}

	.wrapper {
		.secondPageLeft, .thirdPageRight {
			border: 1px solid red;
		}

		.secondPageRight, .thirdPageLeft {
			border: 1px solid blue;
		}
	}
}